{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}
<main>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae dolor velit. Mauris porta
              ultrices
              tellus, sed blandit risus euismod vitae. Sed quis tempor erat. Cras consectetur mi sit amet justo
              sollicitudin, a eleifend eros mollis. Ut hendrerit congue mi, vitae dignissim mi hendrerit id. Fusce
              aliquet
              ultrices metus ut pharetra.</p>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
            <img src="/static/edtech.png" alt="About Image" class="img-fluid" width = "400px" height = "600px">
          </div>
        </div>
      </div>
    </section>
  </main>
  {% endblock body %}